*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-image: linear-gradient( to right, #556270,#FF6B6B)
}

   

.form{
    width: 300px;
    display: block;
    margin: auto;
    background-color: rgb(116, 188, 216);
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
 
 
    

     

    


  
       
}
h1{
    font-size: 22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0px;
    background-color: whitesmoke;
    display:  inline-block;
    margin-left:494px;
    padding: 20px;
    color: royalblue;
    border-radius: 8px;
    transition: 0.5s;
    width: 285px;

    
    
    



}
input{
    margin: 10px;
}
button{
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 10px;
    transition: 0.5s;
    margin-left: 83px;
    margin-top: 20px;
    width: 100px;
    font-family: arial;
}
label{
    color: black;
}
.form:hover{
 box-shadow: 1px 2px 2px 2px white;
}
h1:hover{
    box-shadow: 1px 1px 2px 2px darkblue;
    margin-left: 498px;
}
.form p{
    font-size: 18px;
    color: black;
}
.form button:hover{
    color: orange;
    background-color: black;
}